/* Popup style */
.popup-box-cho-xe {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.popup-box-cho-xe .box {
  position: relative;
  width: 40%;
  margin: 0 auto;
  height: auto;
  max-height: 80%;
  margin-top: 20px;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #000000;
  border-style: double;
  overflow: auto;
  margin-bottom: 10px;
}

.popup-box-cho-xe .popup-header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.popup-box-cho-xe .popup-header b {
  font-size: 30px;
}
.popup-box-cho-xe .anh-dai-dien {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: #000000 2px solid;
}
.popup-box-cho-xe .popup-content{
  text-align: center;
}
.popup-box-cho-xe .popup-content-header {
  text-align: center;
}
.popup-box-cho-xe .icon-start {
  width: 40px;
  height: 40px;
}
.popup-box-cho-xe .popup-content-header p {
  font-size: 40px;
  margin: 0;
}
.popup-box-cho-xe .popup-content-container {
  /* padding-left: 35%; */
  /* text-align: left; */
  font-weight: bold;
  font-size: 20px;
}
.popup-box-cho-xe .popup-content-container-item{
  display: flex;
  margin: 0 22%;
}
.popup-box-cho-xe .popup-content-container-item label{
  margin: auto 20px;
  width: 25%;
}
.popup-box-cho-xe .popup-content-footer {
  text-align: center;
}
.popup-box-cho-xe .popup-content-footer button {
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
}
@media only screen and (max-width: 770px){
  .popup-box-cho-xe .popup-header b{
    font-size: 16px;
  }
  .popup-box-cho-xe .popup-content-container {
    padding: auto;
  }
  .popup-box-cho-xe .popup-content-container-item{

    margin: 0 11%;
  }
  .popup-box-cho-xe .popup-content-container {

    font-size: 12px;
  }
  .popup-box-cho-xe .box {
    width: 75%;
  }
  .popup-box-cho-xe .anh-dai-dien {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: #000000 2px solid;
  }
  .popup-box-cho-xe .icon-start{
    width: 30px;
    height: 30px;
  }
  .popup-box-cho-xe .popup-content-header p {
    font-size: 30px;

}
}
