.modalTitle {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.modalTitle h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ant-modal-confirm-btns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-picker {
    width: 100%;
}

h3 {
    margin-bottom: 0px;
}