.App {}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 14px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 1px 0 13px;
  text-overflow: ellipsis;
  width: 400px !important;
  margin-top: 5px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#pac-input2:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#map {
  width: 900px;
  height: 600px;
}